.pokemon-card {
  background-color: var(--PrimerColor);
  border: 4px solid var(--TercerColor);
  border-radius: 20px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-img-container {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.btn-favorite {
  background-color: var(--SegundoColor);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-badge {
  background-color: var(--TercerColor);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.img-fluid {
  max-height: 180px;
}
