.pokeball-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
}

.pokeball-wrapper {
  perspective: 1000px;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: inset -5px -5px 0 rgba(0, 0, 0, 0.1);

  animation: pokeball-spin 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ff1c1c;
  border-bottom: 3px solid #000;
}

.pokeball-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 0 2px #fff;
}

.pokeball-text {
  margin-top: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes pokeball-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
